{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="border shadow p-4 mx-3 mt-5 p-md-5 m-md-5">
        <div class="mb-4">
            <h2>Redefinir senha</h2>
            <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nós te enviaremos um email com instruções para configurar uma nova.</p>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-success text-uppercase">Enviar e-mail de redefinição</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}