{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="border shadow p-4 m-3 p-md-5 m-md-5">
        <div class="mb-4">
            <h2>Insira sua nova senha</h2>
            <!-- <p>Nós enviamos um email com instruções para alterar a sua senha.</p>
            <p>Se você não recebeu esse email, por favor verifique se forneceu o email correto.</p> -->
        </div>
        {% if validlink %}
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Alterar senha</button>
            </form>
        </div>
        {% else %}
        <p>
            A senha fornecida não é válida. Por favor
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}